{% extends 'base.html' %}

{% block content %}
<h1 style="margin-bottom: 20px; color: #272b38;">Добавление нового места</h1>
<div style="display: flex;">
    <div id="map"
         style="height: 400px; width: 900px; margin-top: 0px; text-align: center;">
        <label style="font-size: 15pt;">Установите метку</label>
    </div>

    <form method="POST" style="margin-left: 20px;">
        {% csrf_token %}
        <div>
            <label for="{{ form.place.id_for_label }}"
                   style="width: 500px; text-align: center; font-size: 15pt;">Название места</label><br>
            {{ form.name }}
        </div>
        <div>
            <label for="{{ form.comment.id_for_label }}"
                   style="width: 500px; text-align: center; font-size: 15pt;">Описание места</label><br>
            {{ form.comment }}
        </div>
        <input id="longitude" name="longitude" type="hidden">
        <input id="latitude" name="latitude" type="hidden">
        <button class="btn btn-light"
                disabled
                style="width: 500px; height: 60px; font-size: 15pt; color: #272b38;"
                type="submit">Сохранить
        </button>
    </form>
</div>

<script src="https://api-maps.yandex.ru/2.1/?apikey=c26f7491-0e24-4329-bf1d-91a9104a968b&lang=ru_RU"
        type="text/javascript"></script>

<script>
ymaps.ready(function() {
  var map = new ymaps.Map("map", {
    center: [56.839654, 60.616422],
    zoom: 10
  });

  var placemark;
  var saveButton = document.querySelector('button[type="submit"]');
  map.events.add('click', function(e) {
    var coords = e.get('coords');
    var longitude = coords[0];
    var latitude = coords[1];
    saveButton.disabled = false;
    if (placemark) {
      placemark.geometry.setCoordinates(coords);
    } else {
      placemark = new ymaps.Placemark(coords);
      map.geoObjects.add(placemark);

    }

    document.getElementById('longitude').value = longitude;
    document.getElementById('latitude').value = latitude;
  });
});

</script>

{% endblock %}
